<div class="background-page">
	<div>
		<main>
			<div class="central-container">
				<p class="style-text">
					<span class="quote">No seu tempo, livros não são de papel.</span> 
					<span class="quote">No seu tempo, um carro que não é seu pode estar à sua disposição.</span> 
					<span class="quote">No seu tempo, levantar pneu virou esporte.</span> 
					<span class="quote">E uma febre.</span> 
					<span class="quote">No seu tempo, é possível se reunir com gente a distância.</span> 
					<span class="quote">Nem você é o mesmo.</span> 
					<span class="quote">Tudo mudou.</span> 
					<span class="quote">O jeito de aprender é diferente.</span> 
					<span class="quote -impact">No seu tempo, só não muda a sua primeira escolha em evoluir.</span> 
					<span class="quote">No seu tempo, você continua exigente.</span> 
					<span class="quote">No seu tempo, tudo é acessível e você muito mais criterioso.</span> 
					<span class="quote">O melhor tempo é o seu.</span>
				</p>
			</div>
		</main>
		<footer>
				<form class="active central-container -margin" method="post" enctype="multipart/form-data" action="http://www.36.kmitd6.com//w/2e4e19TBe8Z7qPh4VWe-716937f" novalidate>
					<div class="paragraph">
						<p class="paragraph-footer">Digite seu nome e email e saiba mais no dia 09 de outubro.</p>
					</div>
					<div class="text">
						<label for="fname_10" easylabel="Nome" class="fa fa-user-circle-o name icon-label" aria-hidden="true">
							<input class="input-contact" type="text" name="fname_7" id="fname_7 value="" placeholder="Seu nome">
						</label>
						<label  for="email_11" easylabel="E-mail" class="fa fa-envelope-open email icon-label" aria-hidden="true">
							<input class="input-contact" type="email" name="email_8" id="email_8" value="" easyvalidation="true" placeholder="Seu e-mail">
						</label>
						<button type="submit" class="button-contact">Cadastrar</button>
					</div>
				</form>
		</footer>
	</div>
</div>
