.central-container{
	@include clearfix;
	margin: 0 auto;
	width: 60%;
	padding: 1px;
	position: relative;

	> .paragraph{
		float:left; 
		width: 25%;
	}

	> .text{
		float:left; 
		width: 75%;
	}

	&.-margin {
		margin-top: 6em;
	}
}

@media #{$large-only} {
  .central-container{
  	&.-margin {
		margin-top: 6em;
		margin-bottom: 3em;
	}
  }    
}

@media #{$medium-only} {
  .central-container{
  	width: 80%;

	> .paragraph{
		width: 100%;
	}

	> .text{ 
		width: 100%;
		
	}
  }    
}


@media #{$small-only} {
  .central-container{
  	width: 90%;

	> .paragraph{
		width: 100%;
	}

	> .text{ 
		width: 100%;
		
	}
  }    
}