.icon-label{
	text-align: left;
	color: #c52656;
	font-weight: 700;
	font-size: 20px;
	border-radius: 25px;
	background-color: #fff;
	width: 230px;
	height: 40px;
	margin: 20px 0 0 2%;
	overflow: hidden;
	position: relative;    
}
