.style-text{
	color: #ff446e;
	font-family: lato;
    font-size: 35px;
    font-weight: 900;
    letter-spacing: -0.6px;
    padding: 0 35px;
    margin-top: 10%;
 
 	> .quote {

		&.-impact{
			color: #f89c24;
		}
	}
}

@media #{$small-only} {
  .style-text{
        font-weight: 700;
        letter-spacing: -0.2px;
        padding: 5px 0;
        margin-top: 5%;
     	font-size: 1.5em;
	}
}