// Defining values
$small-range-max:   768px;
$medium-range-min:  769px;
$medium-range-max:  991px; 
$large-range-min:   992px; 
$large-range-max:   1199px;
$xlarge-range-min:  1200px;
$xlarge-range-max:  1599px;
$xxlarge-range-min: 1600px;


// Defining media queries
$small-only:   "only screen and (max-width: #{$small-range-max})" !default;
$medium-up:    "only screen and (min-width:#{$medium-range-min})" !default;
$medium-only:  "only screen and (min-width:#{$medium-range-min}) and (max-width:#{$medium-range-max})" !default;
$large-up:     "only screen and (min-width:#{$large-range-min})" !default;
$large-only:   "only screen and (min-width:#{$large-range-min}) and (max-width:#{$large-range-max})" !default;
$xlarge-up:    "only screen and (min-width:#{$xlarge-range-min})" !default;
$xlarge-only:  "only screen and (min-width:#{$xlarge-range-min}) and (max-width:#{$xlarge-range-max})" !default;
$xxlarge-up:   "only screen and (min-width:#{$xxlarge-range-min})" !default;


// small - xs
// medium - sm
// large - md
// xlarge - lg
//
// Uso Exemplo:
//
// @media #{$small-only} {
//
// }
